<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>LineToPolygon</Name><AddInID>{a1e8e664-4d7c-4c86-b956-40b7fa8e85a2}</AddInID><Description>&#36716;&#25442;&#38381;&#21512;&#32447;&#29366;&#22270;&#24418;&#20026;&#38754;&#12290;convert polyline feature to polygon individually.</Description><Version>1.0</Version><Image /><Author>&#21556;&#39134;&#40857;</Author><Company>shanwei surveying and mapping technological servive co., ltd.</Company><Date>07/18/2019</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="RoadConvertsion_AddField_addin.py" namespace="RoadConvertsion_AddField_addin"><ArcMap>
    <Commands>
        <Button caption="&#36716;&#25442;" category="LineToPolygon" class="ButtonClass1" id="RoadConvertsion_AddField_addin.button" image="" message="" tip=""><Help heading="" /></Button>
        <ComboBox caption="&#36873;&#25321;&#22270;&#23618;" category="LineToPolygon" class="ComboBoxClass1" id="RoadConvertsion_AddField_addin.combobox" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip=""><Help heading="" /></ComboBox>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="&#32447;&#36716;&#38754;" category="LineToPolygon" id="RoadConvertsion_AddField_addin.toolbar" showInitially="true"><Items><Button refID="RoadConvertsion_AddField_addin.button" /><ComboBox refID="RoadConvertsion_AddField_addin.combobox" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>